{%extends 'all-pictures/base.html'%}

 {% block content %}

 <div class="container">


   <div class="row">
       <div class="jumbotrons">
       <img src="{{picture.picture.url}}" class="img-responsive" alt="Picture" style="width:70%; text-align:center;">
       </div>
<a onclick="copyLink({{picture.id}})"><button type="button" class="btn btn-outline-warning my-2 my-sm-0 link-btn">Copy picture Link</button></a>
              <input class="form-control" type="text" value="http://127.0.0.1:8000{{picture.picture.url}}" id="thislinkhere-{{picture.id}}">
              <a ></a>
        <button type="button" class="btn btn-outline-success" data-dismiss="modal">Close</button>
   </div>



<script>
    function copyLink(id) {
      /* Get the text field */
      var copyText = document.getElementById( "thislinkhere-" + id );

      /* Select the text field */
      copyText.select();

      /* Copy the text inside the text field */
      document.execCommand( "copy" );

      /* Alert the copied text */
      alert( "Do you want to share this link?: " + copyText.value );
    }
  </script>


   <div class="row">
       <div class="thumbnail">
       <h3 class="text-center">Picture Name:</h3>
       <h6 class="text-center">{{picture.name}}</h6>
       </div>
   </div>

     <div class="row">
         <div class="thumbnail">
         <h3 class="text-center">Description:</h3>
             <p class="text-center"> {{picture.details}}</p>
         </div>
    </div>

   <div class="row">
       <div class="thumbnail">
           <h3 class="text-center">Time updated:</h3>
     <p class="text-center">Posted {{picture.pub_date|timesince}} </p>
       </div>
   </div>
     <div class="row">
         <div class="thumbnail">
         <h3 class="text-center"> Location:</h3>
         <h6 class="text-center">Location: {{picture.location}}</h6>
         </div>
    </div>
     <div class="row">
         <div class="thumbnail">
         <h3 class="text-center"> Category:</h3>
         <h6 class="text-center">Category: {{picture.category}}</h6>
         </div>
    </div>


 </div>

 {% endblock %}