{% extends 'all-pictures/base.html' %}

{% block content %}
{{block.super}}
<div class="container-fluid">
    <div class="row">
      
        {% for picture in pictures %}
            <p id="img-copy"></p>
            <div class="col-md-4 img-holder thumbnail">
                <div class="image-details">
                    <p class="text-center"><a data-toggle="modal" data-target="#/pictures/{{picture.id}}">{{picture.name}}</a></p>
                </div>
                <img src="{{picture.picture.url}}" alt="pictures" style="height: 300px;">
            </div>
        {% empty %}
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="https://st3.depositphotos.com/3858415/15199/v/1600/depositphotos_151994870-stock-illustration-vector-template-404-error-page.jpg" alt="Loading Image" height="70%" width="100%" style="margin-left: 47%;">
                    <p>Return to Obindi's Gallery</p> 
                </div>
                <div class="col-md-6">
                   
                </div>
            </div>
        </div>
        {% endfor %}
        {% endblock %}

    </div>
</div>