{% extends 'all-pictures/base.html' %}

{% block content %}
{{block.super}}
<div class="container-fluid">
    <div class="row">
      
        {% for picture in pictures %}
            <p id="img-copy"></p>
            <div class="col-md-4 img-holder">
                <div class="image-details">
                    <p class="text-center"><a data-toggle="modal" data-target="#/pictures/{{picture.id}}">{{img.name}}</a></p>
                </div>
                <img src="{{picture.picture.url}}" alt="pictures">
            </div>
        {% empty %}
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="/static/image/404.png" alt="Loading Image">
                </div>
                <div class="col-md-6">
                    <h4>Sorry No Searched Images.</h4>
                   
                </div>
            </div>
        </div>
        {% endfor %}
        {% endblock %}

    </div>
</div>